.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
*{
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* var */
:root{
/* Colors */
/* Primary */

--Scissors-Gradient: hsl(39, 89%, 49%), hsl(40, 84%, 53%);
--Paper-Gradient: hsl(230, 89%, 62%),hsl(230, 89%, 65%);
--Rock-Gradient: hsl(349, 71%, 52%), hsl(349, 70%, 56%);
--Lizard-Gradient: hsl(261, 73%, 60%), hsl(261, 72%, 63%);
--Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%);
--shape-background: #E8E8E8;
--border-radios: 10px;

/* Neutral */

--Dark-Text: hsl(229, 25%, 31%);
--Score-Text: hsl(229, 64%, 46%);
--Header-Outline: hsl(217, 16%, 45%);

/* Background */

--Radial-Gradient: hsl(214, 47%, 23%) to hsl(237, 49%, 15%);
}

.rules{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 375px;
    height: 750px;
    color: #777;
}
.rules h1{
    margin: 100px 0 115px;
}

.rules img:nth-of-type(2){
    height: 30px;
    width: 30px;
    margin-top: 150px;
}
/* end main section */
/* end home */